.page-header {
  color: #f0672e;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0;
  margin-bottom: 30px;
}

.page-header a {
  color: #fff;
  font-size: 14px;
  text-decoration: none;
}

.page-header a:hover {
  text-decoration: underline;
}
