.post {
  border: 1px solid #B8C5D6;
  border-radius: 5px;
  color: #1D2121;
  text-decoration: none;
  flex-grow: 1;
}

.post h2 {
  margin: 0;
  padding: 0;
}

.post img {
  max-width: 100%;
}

.post-wrapper {
  position: relative;
  display: flex;
}

.post-body {
  padding: 10px;
}

.post-actions {
  top: 10px;
  right: 10px;
  position: absolute;
  text-align: right;
}
